/*.app {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 24px;
}

input::placeholder {
  color: #aaa;
}
*/
.app {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;

}

h3 {
  font-size: 24px;
}

input::placeholder {
  color: #aaa;
}
